html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: #000000;
  min-height: 850px;
}
body {padding:0;}
* {box-sizing: border-box;}
h1{
  color:#EEE;
  text-align: center;
  /*text-shadow: desplazamiento-eje-x desplazamiento-eje-y desenfoque color;*/
  text-shadow: 0 0 6px #fff;
}
p { margin-right: 50px; }
.container{
  height: 100%;
  max-width: 600px;
  margin-top: 0;
  padding-top: 25px;
  background-image: url('../img/miguel_2.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
}
.quote {
  padding: 0 3px;
  border: none;
}
.quote h1 {
  font-weight: 100;
  font-family: 'Raleway';
  font-style: italic;
}
